@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.bw {
  border: 4px solid white;
}

.card {
  opacity: 0.5 !important;
}

.ls {
  letter-spacing: 3px;
}

#speakers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  
  * {
    padding: 0;
    margin: 0;
  }

  .nav-height {
    height: 100vh;
  }

  #speakers {
    display: flex;
    flex-direction: column;
    margin: auto 50px;
  }
}
